body {
    background-color: #132043;
    color: #FDF0F0;
}

nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

nav a i {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: grey;
}

nav a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
    color: #FDF0F0;
    border-top: 1px solid #FDF0F0;
    border-bottom: 1px solid #FDF0F0;
    text-align: center;
}

nav ul li {
    display: inline;
    letter-spacing: .3em;
    margin-left: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #FDF0F0;
    line-height: 3em;
    margin:0%;
}

h1 {
    text-align: center;
    margin: 0;
    margin-left: 170px;
    padding: 20px;
    letter-spacing: .1em;
}

h2 {
    text-align: center;
    margin : 20;
    padding: 20px;
    letter-spacing: .1em;
    border-bottom: #FDF0F0 solid;
}

h3 {
    text-align: center;
    margin: 20;
    padding: 20px;
    letter-spacing: .1em;
    font-size: large;
}

h4 {
    text-align: center;
    margin: auto;
    padding: 20px;
    letter-spacing: .1em;
    font-size: medium;
}

#intro {
    text-align: center;
    margin: 2%;
    margin-bottom: 5%;
    Padding : 20px;    
    letter-spacing: .1em;
}

#skillImage {
    display: flex;
    align-items: center;
    justify-content: center;
}


#skillImage div {
    width: 350px;
    height: auto;
    background-color: #1F4172;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content:start;
    margin: 10px;
}

#skillImage div img {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

#skillImage {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

#gitImage {
    position: static;
    float: right;
    width: 200px;
}

#pathFinder {
    display: flex;
    justify-content: center;
    align-items: center;;
}

#pathFinder div {
    width: 600px;
    height: 350px;
    background-color: #1F4172;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
}

#pathFinder div img {
    border-radius: 0.25rem;
    text-align: center;
    font-size: 110%;
    padding: auto;
    margin: auto;
}

#contactBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactBox div {
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 0.25rem;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
}

#contactBox form span {
    letter-spacing: .1rem ;
    display: flex;
    justify-content: center;
    align-content: center;
}

#contactBox form div input, textarea {
    background-color: #1F4172;
    border-radius: 0.25rem;
    width: 300px;
    height: 30px;
}
